h1
{
	color: indianred;
}

body
{
	background-color: lightgray;
}

#carte
{
 
 	width: 800px;
 	margin:0 auto;
 	background-color: white;
 	text-align: center;
 	align-content: center;
}

ul li 
{
	list-style-type: none;
}